<html>
    <head>
        <title>Change Password</title>
    </head>
    <body>
        <form action="{{a}}/cp_func" method="post">
            <table>
                <tr><td><h1>Change Password</h1></td></tr>
                <tr><td>Username</td>
                <td><input type="text" name="username"></td></tr>
                <tr><td>Current Password</td>
                <td><input type="password" name="password"></td></tr>
                <tr><td>New Password</td>
                <td><input type="password" name="new_password"></td></tr>
                <tr><td><input type="submit" value="Change"></td></tr>
                <tr><td><a href="{{a}}/">Go back to the main site</a></td></tr>
            </table>
        </form>
    </body>
</html>