<html>
    <head>
        <title>Log in</title>
    </head>
    <body>
        <form action="{{a}}/home" method="post">
            <table>
                <tr><td><h1>Log in</h1></td></tr>
                <tr><td>Username</td>
                <td><input type="text" name="username"></td></tr>
                <tr><td>Password</td>
                <td><input type="password" name="password"></td></tr>
                <tr><td><input type="submit" value="Log in"></td></tr>
                <tr><td><a href="{{a}}/create">Create an account</a></td></tr>
            </table>
        </form>
    </body>
</html>