<!DOCTYPE html>
<html>
    <head>
        <title>sqd's useless site</title>l
        <meta content="sqd's useless site" property="og:title" />
        <meta content="it's a useless site" property="og:description" />
        <meta content="{{a}}/" property="og:url" />
        <!---<meta content="https://embed.com/embedimage.png" property="og:image" />--->
        <meta content="#36393F" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="/media/your-mom.jpg">
    </head>
    <body>
        <h1>hi</h1>
        <h3>welcome to sqd's useless site</h3>
        <a href="{{a}}/create">Create Account</a>
        <a href="{{a}}/login">Login to your user</a>
        <a href="{{a}}/change_password">Change your password</a>
    </body>
</html>