<html>
    <head>
        <title>Unlock Secret Panel</title>
    </head>
    <body>
        <form action="{{a}}/secret" method="post">
            <table>
                <tr><td><h1>Secret Panel</h1></td></tr>
                <tr><td>Please enter the secret password to unlock this panel</td></tr>
                <tr><td><input type="text" name="panel_password"></td></tr>
                <tr><td><input type="submit" value="Unlock"></td></tr>
                <tr><td><p> </p></td></tr>
                <tr><td><a href="{{a}}/">Go back to the main site</a></td></tr>
            </table>
        </form>
    </body>
</html>