<!DOCTYPE html>
<html>
    <head>
        <title>secret panel</title>
    </head>
    <body>
        <h1>hi again</h1>
        <h3>welcome to sqd's useless site's useful panel</h3>
        <h4>Total users made: {{total_users}}</h4>
        <form action="{{a}}/secret" method="post">
            <table>
                <tr><td>For a list of users with their password, </td>
                
            </table>
        </form>
        <a href="{{a}}/create">Create Account</a>
        <a href="{{a}}/login">Login to your user</a>
        <a href="{{a}}/change_password">Change your password</a>
    </body>
</html>